<!-- Sección de Precios -->
<section class="pricing ">
  <div class="title">
    <h2>Precios</h2>
  </div>
<div class="pricing-container">
  <div class="pricing-plan">
    <h3>Plan Básico</h3>
    <ul>
      <li>Reservas ilimitadas</li>
      <li>Avisos por email</li>
      <li>3 profesionales</li>
      <li>Informes básicos</li>
    </ul>
    <div class="amount">
      <p>{{precioA}}</p>
    </div>
  </div>
  <div class="pricing-plan">
    <h3>Plan Profesional</h3>
    <ul>
      <li>Reservas ilimitadas</li>
      <li>Avisos por email</li>
      <li>6 profesionales</li>
      <li>Informes avanzados</li>
      <li>Soporte prioritario</li>
    </ul>
    <div class="amount">
      <p>{{precioB}}</p>
    </div>
  </div>
  <div class="pricing-plan">
    <h3>Plan Empresarial</h3>
    <ul>
      <li>Reservas ilimitadas</li>
      <li>Avisos por email</li>
      <li>Profesionales ilimitados</li>
      <li>Informes completos </li>
      <li>Soporte dedicado y personalizado</li>
    </ul>
    <div class="amount">
      <p>{{precioC}}</p>
    </div>
  </div>
</div>
</section>
