<app-nav-bar-landing></app-nav-bar-landing>

<section id="hero">
  <app-hero></app-hero>
</section>

<section id="intro">
  <app-intro></app-intro>
</section>

<section id="benefits">
  <app-benefits></app-benefits>
</section>

<section id="features">
  <app-features></app-features>
</section>

<section id="pricing">
  <app-precios></app-precios>
</section>

<section id="cta">
  <app-cta></app-cta>
</section>

<section id="contact">
  <app-contacto></app-contacto>
</section> 

<app-footer></app-footer>
